<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haider Dairies - Reports</title>
    <link rel="stylesheet" href="/styles/allmonths.css">
</head>
<body>
    <header>
        <h2>Welcome <%= username %>!</h2>
         <h4><%= date %></h4>
    </header>

    <nav>
        <ul>
            <% if (role === "admin") { %>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/update">Update a Record</a></li>
            <% } %>
            <li><a href="/view">View Records</a></li>
            <li><a href="/contact">Contact Developer</a></li>
        </ul>
    </nav>

    <h3>Select a Month to View Reports</h3>
    <div>
        <ul>
        <% months.forEach(month => { %>
            <li><a href="/getrep/<%= month %>">View Records for <%= month %></a></li>
        <% }) %>
    </ul>
    </div>
    <button onclick="location.href='/logout'" id="logout">LOGOUT</button>
</body>
</html>
