<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact the Developer</title>
    <link rel="stylesheet" href="/styles/contact.css">
</head>
<body>
        <header>
            <h2>Contact the Developer</h2>
            <p>Feel free to reach out to me via any of the following platforms</p>
        </header>

        <nav>
         <ul>
            <% if (role === "admin") { %>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/update">Update a Record</a></li>
            <% } %>
            <li><a href="/view">View Records</a></li>
            <li><a href="/getmonths">Get Reports</a></li>
         </ul>
        </nav>

        <section class="contact-info">
            <h3>Get in Touch</h3>
            <ul>
                <li>
                    <strong>Email:</strong>
                    <a href="mailto:muhammad389abdullah@gmail.com">muhammad389abdullah@gmail.com</a>
                </li>
                <li>
                    <strong>Phone:</strong>
                    <a href="tel:+923039682244">+92 303 - 9682244</a>
                </li>
                <li>
                    <strong>LinkedIn:</strong>
                    <a href="https://www.linkedin.com/in/muhammad-abdullah-0b532b302/" target="_blank">My LinkedIn Profile</a>
                </li>
                <li>
                    <strong>GitHub:</strong>
                    <a href="https://github.com/MuhammadAbdullah389" target="_blank">My GitHub Profile</a>
                </li>
            </ul>
        </section>

        <section class="social-media">
            <h3>Follow Me</h3>
            <ul>
                <li><a href="https://www.instagram.com/muhammad_abdullah2467/" target="_blank">Instagram</a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100040368728656" target="_blank">Facebook</a></li>
            </ul>
        </section>
        <button onclick="location.href='/logout'" id="logout">LOGOUT</button>
        <footer>
            <p>&copy; 2025 Muhammad Abdullah. All rights reserved.</p>
        </footer>
</body>
</html>
