<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haider Dairies</title>
    <link rel="stylesheet" href="/styles/updhome.css">
</head>
<body>
    <header>
        <h2>Welcome <%= username %>!</h2>
        <h4><%= date %></h4>
    </header>

    <nav>
        <ul>
            <li><a href="/view">View Records</a></li>
            <li><a href="/update">Update a Record</a></li>
            <li><a href="/contact">Contact the Developer</a></li>
        </ul>
    </nav>

    <div>
        <h2><%= msg %></h2>
    </div>
    <% if (insertion) { %>
        <button onclick="location.href='/update/<%= link %>'" >Edit</button>
    <% } %>
     
    <button onclick="location.href='/logout'" id="logout">LOGOUT</button>
</body>
</html>
