<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/logsign.css">
    <title>Login Page</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="">Enter your email</label>
        <input type="email" name="email" required>
        <label for="">Enter your Password</label>
        <input type="password" name="password" required>
        <button type="submit">Submit</button>
        <% if (error) { %>
            <p><%= error %></p>
        <% } %>
        <p>Forgot Password?  <a href="#" onclick="window.location.href='/mailforUpdate';" >Reset</a></p>
        <p>Dont Have Account?. <a href="#" onclick="window.location.href='/signup';" >Create Account</a></p>
    </form>
    
</body>
</html>