<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/logsign.css">
    <title>Email</title>
</head>
<body>
    <form action="/passOTPverify" method="post">
        <label for="">We have Sent you an OTP through Mail.Dont Leave the Page and Verfiy</label>
        <input type="number" required max="999999" name="OTP">
        <button type="submit">Verify</button>
        <% if (error) { %>
            <p><%= error %></p>
        <% } %>
    </form>
</body>
</html>