<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/logSign.css">
    <title>SignUp</title>
</head>
<body>
    <form action="/signup" method="post">
        <label for="">Enter Your name</label>
        <input type="text" name="name" required >
        <label for="">Enter your email</label>
        <input type="email" name="email" required >
        <label for="">Enter your Password</label>
        <input type="password" name="password" required >
        <button type="submit">Submit</button>
        <% if (error) { %>
            <p><%= error %></p>
        <% } %>
        <p>Already have an Account?. <a href="#" onclick="window.location.href='/login';" >Login</a></p>
    </form>
</body>
</html>